<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Rogo App</title>

    <style>
      .angular-google-map-container {
          width: 100%;
          height: 504px;
      }
    </style>

    <!--<link href="/css/preview-frame.css" rel="stylesheet">-->
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
      <script src="lib/firebase/firebase.js"></script>
      <script src="lib/angularfire/dist/angularfire.js"></script>
      <script src="lib/angular-touch/angular-touch.js"></script>

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
      <script src="js/controllers.js"></script>
      <script src="js/services.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-app="app" animation="slide-left-right-ios7" ng-controller="adolfCtrl">
  <div>
    <div>
        <ion-nav-bar class="bar-stable">
        </ion-nav-bar>
        <ion-nav-view></ion-nav-view>
    </div>
</div>
<script id="page10.html" type="text/ng-template">
<ion-view title="ROGO">
    <ion-content padding="true" class="has-header">
        <form>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input style="width: 100%; min-height:40px;" ng-model="search" placeholder="Search">
            </label>
            <hr/>
            <button ng-click="showAvailableWords = !showAvailableWords">Available Words?</button>
            <b ng-if="showAvailableWords" ng-click="$parent.$parent.search = wordGroup.name;" ng-repeat="wordGroup in wordListArray  track by $index | limitTo:30 | orderBy: 'name'">
                <a href>{{wordGroup.name}}</a><span ng-if="!$last">, </span>
            </b>
        </form>
        <div class="list card">
            <div ng-if="search.length > 0" ng-repeat="wordGroup in wordListArray track by $index | filter:search">
                <b href ng-click="showMeanings=!showMeanings"><h2>{{wordGroup.name}}</h2></b>
                <div ng-repeat="meaning in $parent.wordGroup.meanings">
                    <h3><a href ng-click="showText=!showText"><b>wz<b>{{$index}}</b>: {{meaning}}</b></a></h3>
                    <div ng-if="showText">{{text.$value}}</div>
                </div>
            </div>
        </div>
        <button ng-click="showHelp = !showHelp">Help?</button><b ng-if="showHelp">Enter a word into the search box above or select a word after clicking on 'Available Words'.</b>
    </ion-content>
</ion-view></script>
  </body>
</html>
